<div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h1 class="panel-title pull-left" style="padding-top:8px;">Contacts </h1>
          <div class="btn-group pull-right">
            <button class="btn btn-success">New Contact</button>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
          <div class="col-xs-12">
            <app-contact-item
              *ngFor="let contactEl of contacts"
            [contact]="contactEl"
              (contactSelected)="onContactSelected(contactEl)">
            </app-contact-item>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>

